*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}

.navbar {
    -webkit-box-shadow: 0px 0px 34px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 34px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 34px -9px rgba(0, 0, 0, 0.75);

}

.ui-router {
    margin: 1rem auto;
    -webkit-box-shadow: 0px 0px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px -8px rgba(0, 0, 0, 0.75);
}

.main-content {
    padding: 1rem .5rem;
}

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;

}

.table tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#map {
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
}